{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">{{ Bienvenue }}</h1>
<section class="bg-secondary-color py-5">
<h2 class="text-center">la vie de john DOE</h2></section>
<section class="bg-main-color py-5">
<h2 class="text-center">les soirées de john DOE</h2></section>
<section class="bg-secondary-color py-5">
<h2 class="text-center"></h2></section>
{% endblock %}